*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --bg: #071112;
    --sidebar: #0B1F1D;

    --card: #101A1C;
    --card-2: #17363B;

    --primary: #9EF2C3;
    --primary-2: #B9F5D5;

    --cyan: #58E6E6;

    --text: #EAF7F2;
    --text-secondary: #8FA3A0;

    --border: #1A2426;
}

body{
    background: var(--bg);
    color: var(--text);
}

header{
    width: 200px;
    margin-left: 20%;
}



.conteine{
    margin-left:20%;
    margin-top: 10%;
}





















#logo{
    width: 200px;
}